<p id="notice"><%= notice %></p>

<h1>Your Messages</h1>
<% if @messages == nil %>
  <h3>You are not signed in</h3>
<% end %>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @messages != nil %>
      <% @messages.each do |message| %>
        <tr>
          <td>
            <% sender = User.find(message.sender_id) %>
            <%= link_to sender.username, sender %>
          </td>
          <td>
            <% receiver = User.find(message.receiver_id) %>
            <%= link_to receiver.username, receiver %>
          </td>
          <td><%= message.body %></td>
          <td><%= link_to 'Show', message %></td>

          <td>
            <% require 'pp' %>
            <% PP.pp current_user %>
            <% PP.pp message %>
            <% PP.pp current_user.id == message.sender_id %>
            <% if current_user and current_user.id == message.sender_id %>
              <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if @messages != nil %>
  <%= link_to 'New Message', new_message_path %>
<% end %>
<%= link_to 'Back', posts_path %>
