<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= link_to @sender.username, @sender %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= link_to @receiver.username, @receiver %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<% if current_user and current_user.id == @message.sender_id %>
  <td><%= link_to 'Destroy', @message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <br>
<% end %>
<%= link_to 'Back', messages_path %>
