<p id="notice"><%= notice %></p>

<h1>Your Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @comments != nil %>
      <% @comments.each do |comment| %>
        <tr>
          <% if comment.user_id and comment.user_id > 0 %>
            <% user = User.find(comment.user_id) %>
            <td><%= link_to user.username, user %></td>
          <% else %>
            <td>Anonymous</td>
          <% end %>
          <td><%= comment.post_id %></td>
          <td><%= comment.comment %></td>
          <td><%= link_to 'Show', post_path(comment.post_id) %></td>
          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
