<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.profile_pic %>
            <%= image_tag user.profile_pic? ? user.profile_pic : 'profileholder.png', alt: 'Profile Picture', class: "profilePicture" %>
          <% end %>
        </td>
        <td>
          <div class="profileName">
            <%= user.username %>
          </div>
        <%= link_to 'Show', user %>
        <% if current_user and current_user.id == user.id %>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <%= will_paginate @users, class: "profilePage" %>
</table>
<%= will_paginate @users, class: "profilePage" %>

