<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<p>
  <% if @user.profile_pic %>
    <%= image_tag @user.profile_pic? ? @user.profile_pic : 'profileholder.png', :alt => "Profile Pic", class: 'profileshowImage' %>
  <% end %>
</p>


<% if current_user and current_user.id == @user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
<% end %>

<h2>Posts</h2>
<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.image? ? post.image : 'placeholder.png', :alt => "Post Image", class: 'postImage' %></td>
        <td><div class='postCaption'><%= post.caption %></div> <br>
        <%= link_to 'Show', post %> <br>
        <%= link_to 'Edit', edit_post_path(post) %> <br>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user and current_user.id == @user.id %>
  <h2>Comments</h2>
  <%= link_to 'Your Comments Page', comments_path %>
<% end %>
