<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Caption</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
        <% if post.image %>
          <%= image_tag post.image, alt: "Post Image", class: "postImage" %>
        <% end %>
        </td>
        <td><%= post.caption %></td>
        <% if post.user_id %>
          <!-- Inefficient code right here. Fix later and observe performance difference -->
          <% user = User.find post.user_id %>
          <td><%= link_to user.username, user %></td>
        <% else %>
          <td>Anonymous</td>
        <% end %>
        <td><%= link_to 'Show', post %></td>
        <% if current_user and current_user.id == post.user_id %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Post', new_post_path %>
