<p id="notice"><%= notice %></p>

<p>
  <% if @post.image %>
    <%= image_tag @post.image? ? @post.image : 'placeholder.png', :alt => "Post Image", class: 'postshowImage' %>
  <% end %>
</p>

<p class='postCaption'>
  <%= @post.caption %>
</p>

<p>
  <strong>Author:</strong>
  <% if @user %>
    <td><%= link_to @user.username, @user %></td>
  <% else %>
    <td>Anonymous</td>
  <% end %>
</p>

<p>
  <strong>Comments:</strong>
  <%= render 'showcomments', post: @post %>
</p>

<%= form_with scope: :comment, url: comments_path(@comments), local: true do |form| %>
  <div class="field">
    <%= form.hidden_field :post_id, value: @post.id %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit "Add Comment" %>
  </div>
<% end %>

<% if current_user and current_user.id == @post.user_id %>
  <td><%= link_to 'Edit', edit_post_path(@post) %></td>
  <td><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <br>
<% end %>
<%= link_to 'Back', posts_path %>
