<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image, :alt => "Post Image" %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>

<p>
  <strong>User:</strong>
  <!-- Inefficient code right here. Fix later and observe performance difference -->
  <% if @post.user_id and @post.user_id > 0 %>
    <% user = User.find(@post.user_id) %>
    <td><%= link_to user.username, user %></td>
  <% else %>
    <td>Anonymous</td>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
